@model IEnumerable<WebApplication1.Models.PessoaModel>
@Html.ValidationSummary()

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas Cadastradas</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-plus"></i> Novo Cadastro</button></a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeFilhos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situação)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeFilhos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @if (item.Situação == true)
                    {
                        <span>Ativo</span>
                    }
                    else
                    {
                        <span>Inativo</span>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo"><button class="btn btn-dark" style="width:74px;height:35px;font-size:small" type="button">Editar <i class="fa fa-pencil small"></i></button></a>
                    <a asp-action="AlterarStatus" asp-route-id="@item.Codigo"><button class="btn btn-dark" style="width:105px;height:35px;font-size:small" type="button">Mudar Status</button></a>
                    <a asp-action="Details" asp-route-id="@item.Codigo"><button class="btn btn-dark" style="width:92px;height:35px;font-size:small" type="button">Detalhes <i class="fa fa-info-circle"></i></button></a>
                    <a asp-action="Delete" asp-route-id="@item.Codigo"><button class="btn btn-danger" style="width:88px;height:35px;font-size:small" type="button">Deletar <i class="fa fa-fw fa-trash"></i></button></a>

                </td>
            </tr>
        }
    </tbody>
</table>
