@model IEnumerable<WebApplication1.Models.EmpresaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas Cadastradas</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-plus"></i> Novo Cadastro</button></a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situação)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                     @if (item.Situação == true)
                    {
                        <span>Ativo</span>
                    }
                    else
                    {
                        <span>Inativo</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo"><button class="btn btn-dark" type="button">Editar <i class="fa fa-pencil"></i></button></a> 
                    <a asp-action="AlterarStatus" asp-route-id="@item.Codigo"><button class="btn btn-dark" type="button">Mudar Status</button></a> 
                    <a asp-action="Details" asp-route-id="@item.Codigo"><button class="btn btn-dark" type="button">Detalhes <i class="fa fa-info-circle"></i></button></a> 
                    <a asp-action="Delete" asp-route-id="@item.Codigo"><button class="btn btn-danger" type="button">Deletar <i class="fa fa-fw fa-trash"></i></button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
